<!DOCTYPE html>
<html>
  <head>
    <base href="/"></head>
    <title>TCID Scheduling System ~ v. 0.11 </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="shortcut icon" id="appIcon" href="/assets/ico/favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="assets/css/styles.css"> old stylesheet-->
    <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- Polyfill(s) for older browsers -->
    <script src="assets/lib/core-js/client/shim.min.js"></script>
    <script src="assets/lib/zone.js/dist/zone.js"></script>
    <script src="assets/lib/reflect-metadata/Reflect.js"></script>
    <script src="assets/lib/systemjs/dist/system.src.js"></script>
    <script src="assets/systemjs.config.js"></script>
    <script>
	     System.import('assets')
            .then(null, console.error.bind(console));
    </script>
  </head>
  <body>
  		<tcid></tcid>
  </body>
</html>
