#header {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, black); /* Standard syntax */
}
