/*order.component.css*/
.order {
	display: block;
	margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
    width: auto;
    overflow: hidden;  
    background: #FFC;
    color: #000;
    border-radius: 10px;
    border: 1px solid #000;
    border-collapse: separate;
    table-layout: fixed;
  }
   td {
  	padding-left: 5px;
  	padding-right: 5px;
  	width: 12%;
  	text-align: center;
  }
h4 {
  margin: 0;
  padding: 0;
}