<div id="header">
<div id="htop">
<div id="title">
	<table class="title" cellspacing="0">
		<tr>
			<th><img src="images/logo.png" alt="logo" /></th>
			<th><h1>Scheduling System</h1></th>
		</tr>
		<tr>
			<td></td>
			<td><h4>Truckee-Carson Irrigation District</h4></td>
		</tr>
	</table>
</div>
</div>
<div id="menu">| Main Menu |
 <!--<nav class="navbar navbar-fixed-top navbar-dark bg-inverse>
	<div class="container">
		<a class="navebar-brand">TCID</a>
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="navitem><a class="nav-link" routerLink="home">Home</a></li>
			<li class="navitem><a class="nav-link" routerLink="schedule">Schedule</a></li>
			<li class="navitem><a class="nav-link" routerLink="manage">Manage</a></li>
		</ul>
	</div>
 </nav>-->
</div>
</div>
