<div id="push"></div>
<div class="navbar navbar-default navbar-fixed-top">
<div id="header">
<div id="htop">
<div id="title">
	<div id="logo">
		<img src="/assets/images/logo.png" alt="logo" max-width="80px" height="80px" /></div>
	<div id="titlename">
		<h1>Scheduling System</h1>
		<h4>Truckee-Carson Irrigation District</h4></div>
</div>
</div>
<div sticky id="menu">
 <nav class="nav-bar">
	<a routerLink="/home" routerLinkActive="active">Home</a>
	<a routerLink="/schedule" routerLinkActive="active">Schedule</a>
	<a routerLink="/manage" routerLinkActive="active">Manage</a>
 </nav>
</div>
</div>
</div>