<div id="fheader">
<h1><img src="/assets/img/logo.png"  />TCID Scheduling System</h1>
<div id="menu"> Main Menu
 <!--<nav class="navbar navbar-fixed-top navbar-dark bg-inverse>
	<div class="container">
		<a class="navebar-brand">TCID</a>
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="navitem><a class="nav-link" routerLink="home">Home</a></li>
			<li class="navitem><a class="nav-link" routerLink="schedule">Schedule</a></li>
			<li class="navitem><a class="nav-link" routerLink="manage">Manage</a></li>
		</ul>
	</div>
 </nav>	-->
</div>
</div>
